@{
    ViewData["Title"] = "Doação de Sangue";
}
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles -->

</head>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>

<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://www.waldenu.edu/media/4200/seo-341-bs-donorship-7490684-1200x675" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://www.blooddonormobile.com/wp-content/uploads/2016/11/feat_unionquay.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://th.bing.com/th/id/R.eda587b2fc7643093bd7cd3273385144?rik=7zyjFbQnbsSrlg&pid=ImgRaw&r=0" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="text-center" style="display: flex; flex-direction: column; align-items: center;">
    <h1 class="display-4" style="color: red; margin-top: 4%">Qual a última vez que você<br />  doou sangue?</h1>
    <p style="text-align: center;">
        O intervalo para homens doarem sangue é de 60 dias (2 meses), e para mulheres esse intervalo aumenta para 90 dias (3 meses). <br />
        Sendo assim, um homem  pode doar até 4 vezes por ano e uma mulher até 3 vezes.
    </p>
    <h2 style="color: red; margin-top: 3%; margin-bottom: 1%;">Já passou o seu intervalo ou nunca doou? <br /> Agende já a sua doação!</h2>
    <button style="background-color: red; color: white; padding: 10px 5px; border: none; border-radius: 5px; margin-top: 2%">Agende sua Doação aqui</button>
    <img style="margin-top: 3%; width: 40%;" src="https://img.freepik.com/premium-vector/blood-donation-illustration-with-hand_580446-56.jpg?w=2000" />
    <h1 style="color: red; margin-top: 3%; margin-bottom: 3%;">Informações Sobre a Doação</h1>
</div>
<div class="accordion" id="accordionExample" style="margin-bottom: -20%">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Requisitos para Doar
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Ter uma idade entre 16 e 69 anos, 11 meses e 29 dias. <br />
                A primeira doação do paciente só pode ser feita até os 60 anos, 11 meses e 29 dias. <br />
                Doadores de 16 e 17 anos precisam de autorização dos pais. <br />
                O paciente tem que ter um peso mínimo de 50 kg. <br />
                Não estar em jejum, refeições leves são recommendations. <br />
                Aumentar a ingestão de líquidos no dia da doação. <br />
                Não consumir álcool 12 horas antes. <br />
                Evitar trazer crianças menores de 12 anos. Se necessário, trazer um acompanhante maior de idade.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Impedimentos Definitivos Para a Doação
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Ter passado por um quadro de hepatite após os 11 anos de idade. <br />
                Evidência clínica ou laboratorial das seguintes doenças transmissíveis pelo sangue: Hepatites B e C, AIDS (vírus HIV), doenças associadas aos vírus HTLV I e II e Doença de Chagas. <br />
                Uso de drogas ilícitas injetáveis. <br />
                Malária.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Impedimentos Temporários Para a Doação
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Anemia no teste realizado imediatamente antes da doação. <br />
                Hipertensão ou hipotensão arterial no momento da doação. <br />
                Aumento ou diminuição dos batimentos cardíacos no momento da doação. <br />
                Febre no dia da doação. <br />
                Resfriado: aguardar 7 dias após desaparecimento dos sintomas. <br />
                Gravidez 90 dias após parto normal e 180 dias após cesariana. <br />
                Amamentação (se o parto ocorreu há menos de 12 meses). <br />
                Ingestão de bebida alcoólica nas 12 horas que antecedem a doação. <br />
                Tatuagem / maquiagem definitiva nos últimos 12 meses. <br />
                Idade inferior a 18 anos ou superior a 65 anos 11 meses e 29 dias. <br />
                Peso inferior a 50 kg.
            </div>
        </div>
    </div>
</div>