@{
    ViewData["Title"] = "Painel de Urgência";
}

<style>
    a.navbar-brand {
        white-space: normal;
        text-align: center;
        word-break: break-all;
    }

    a {
        color: #0077cc;
    }

    .btn-primary {
        color: #fff;
        background-color: #1b6ec2;
        border-color: #1861ac;
    }

    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        color: #fff;
        background-color: #1b6ec2;
        border-color: #1861ac;
    }

    .border-top {
        border-top: 1px solid #e5e5e5;
    }

    .border-bottom {
        border-bottom: 1px solid #e5e5e5;
    }

    .box-shadow {
        box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
    }

    button.accept-policy {
        font-size: 1rem;
        line-height: inherit;
    }

    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        white-space: nowrap;
        line-height: 60px;
    }

    /* Responsividade para cada prontuário */
    .prontuario-container {
        margin-bottom: 20px;
    }

    .photo-container img {
        max-width: 100%;
        height: auto;
    }

    .prontuario-info {
        padding: 10px;
        background-color: #f8f9fa;
        border: 1px solid #dee2e6;
        border-radius: 5px;
    }

    /* Responsividade para a barra de navegação */
    .navbar-brand {
        white-space: normal;
        text-align: center;
        word-break: break-all;
    }

    /* Cor do link */
    a {
        color: #0077cc;
    }

    /* Botão primário */
    .btn-primary {
        color: #fff;
        background-color: #1b6ec2;
        border-color: #1861ac;
    }

    /* Estilo para links ativos */
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        color: #fff;
        background-color: #1b6ec2;
        border-color: #1861ac;
    }

    /* Borda superior */
    .border-top {
        border-top: 1px solid #e5e5e5;
    }

    /* Borda inferior */
    .border-bottom {
        border-bottom: 1px solid #e5e5e5;
    }

    /* Sombra da caixa */
    .box-shadow {
        box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
    }

    /* Botão de aceitar política */
    button.accept-policy {
        font-size: 1rem;
        line-height: inherit;
    }

    /* Estilo do rodapé */
    .footer {
        position: relative; /* Alterado para relativo */
        width: 100%;
        white-space: nowrap;
        line-height: 60px;
    }

    /* Responsividade para cada prontuário */
    .prontuario-container {
        margin-bottom: 20px;
        transition: transform 0.3s ease; /* Adicionando uma transição suave */
    }

        /* Efeito ao passar o mouse nos prontuários */
        .prontuario-container:hover {
            transform: scale(1.05); /* Aumenta um pouco o tamanho do prontuário */
        }

    .photo-container img {
        max-width: 100%;
        height: auto;
    }

    .prontuario-info {
        padding: 10px;
        background-color: #f8f9fa;
        border: 1px solid #dee2e6;
        border-radius: 5px;
    }
</style>
<div class="container">
<h1 style="text-align: center; margin-bottom: 40px;">Pessoas em estado grave</h1>
    <main role="main" class="pb-3">
        <div class="container">
            <!-- Prontuário 1: João -->
            <div class="prontuario-container">
                <div class="row">
                    <div class="col-md-4">
                        <!-- Espaço para a foto do paciente -->
                        <div class="photo-container">
                            <img src="https://th.bing.com/th/id/OIP.n5CeR93916slWXGyV13PuAHaHa?rs=1&pid=ImgDetMain" alt="Foto de João" style="max-width: 250px; border-radius: 20px; margin-left: 35%;">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <!-- Dados do prontuário -->
                        <div class="row align-items-center prontuario-info" style="min-height: 250px;">
                            <!-- Coluna alinhada à esquerda e ao centro -->
                            <div class="col-md-6 text-left">
                                <p><strong>Nome:</strong> Maria da Silva</p>
                                <p><strong>Idade:</strong> 30 anos</p>
                                <p><strong>Tipo Sanguíneo:</strong> A+</p>
                            </div>
                            <!-- Coluna alinhada à direita e ao centro -->
                            <div class="col-md-6 text-right">
                                <p><strong>Descrição do caso:</strong>  </p>
                                <p>Maria da Silva, encontra-se em estado grave no Hospital Central após um acidente de carro. Sua vida depende de transfusões de sangue do tipo A+ ou . Estamos apelando urgentemente para doadores compatíveis para salvar sua vida. Cada gota conta. Por favor, dirija-se ao hospital mais próximo e doe sangue.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Prontuário 2: Maria -->
            <div class="prontuario-container">
                <div class="row">
                    <div class="col-md-4">
                        <!-- Espaço para a foto do paciente -->
                        <div class="photo-container">
                            <img src="https://i.pinimg.com/originals/c7/15/ee/c715ee36eba81c7f3b279b182f349ec9.jpg" alt="Foto de João" style="max-width: 250px; border-radius: 20px; margin-left: 35%;">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <!-- Dados do prontuário -->
                        <div class="row align-items-center prontuario-info" style="min-height: 250px;">
                            <!-- Coluna alinhada à esquerda e ao centro -->
                            <div class="col-md-6 text-left">
                                <p><strong>Nome:</strong> João Pereira</p>
                                <p><strong>Idade:</strong> 32 anos</p>
                                <p><strong>Tipo Sanguíneo:</strong> A+</p>
                            </div>
                            <!-- Coluna alinhada à direita e ao centro -->
                            <div class="col-md-6 text-right">
                                <p><strong>Descrição do caso:</strong>  </p>
                                <p>João Pereira, está internado em estado crítico no Hospital São Paulo, precisando urgentemente de doações de sangue tipo A+. Ele luta bravamente, mas só poderá vencer com a nossa ajuda. Se você é compatível, por favor, doe sangue o mais rápido possível. Sua generosidade pode fazer a diferença entre a vida e a morte.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Prontuário 3: Carlos -->
            <div class="prontuario-container">
                <div class="row">
                    <div class="col-md-4">
                        <!-- Espaço para a foto do paciente -->
                        <div class="photo-container">
                            <img src="https://preview.redd.it/finally-finished-my-course-im-completely-done-with-accutane-v0-w0mkemh8ltna1.jpg?width=640&crop=smart&auto=webp&s=bb8c7afb1e1f8fdeca8c4a8fce2a6caeef91a013" alt="Foto de João" style="max-width: 200px; border-radius: 20px; margin-left: 40%;">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <!-- Dados do prontuário -->
                        <div class="row align-items-center prontuario-info" style="min-height: 250px;">
                            <!-- Coluna alinhada à esquerda e ao centro -->
                            <div class="col-md-6 text-left">
                                <p><strong>Nome:</strong> Cláudia Mendes</p>
                                <p><strong>Idade:</strong> 29 anos</p>
                                <p><strong>Tipo Sanguíneo:</strong> AB-</p>
                            </div>
                            <!-- Coluna alinhada à direita e ao centro -->
                            <div class="col-md-6 text-right">
                                <p><strong>Descrição do caso:</strong>  </p>
                                <p>Cláudia Mendes, sofreu complicações durante uma cirurgia e está em estado grave no Hospital da Luz. Ela precisa de sangue tipo AB- para sobreviver. Pedimos encarecidamente que doadores desse tipo sanguíneo compareçam ao hospital para realizar a doação. A sua solidariedade é essencial neste momento crítico.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Prontuário 4: Ana -->
            <div class="prontuario-container">
                <div class="row">
                    <div class="col-md-4">
                        <!-- Espaço para a foto do paciente -->
                        <div class="photo-container">
                            <img src="https://th.bing.com/th/id/OIP.JKIu9gOr5IiSL3sYuh_FqgHaJQ?rs=1&pid=ImgDetMain" alt="Foto de João" style="max-width: 250px; border-radius: 20px; margin-left: 35%;">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <!-- Dados do prontuário -->
                        <div class="row align-items-center prontuario-info" style="min-height: 250px;">
                            <!-- Coluna alinhada à esquerda e ao centro -->
                            <div class="col-md-6 text-left">
                                <p><strong>Nome:</strong> Lucas Almeida</p>
                                <p><strong>Idade:</strong> 22 anos</p>
                                <p><strong>Tipo Sanguíneo:</strong> B+</p>
                            </div>
                            <!-- Coluna alinhada à direita e ao centro -->
                            <div class="col-md-6 text-right">
                                <p><strong>Descrição do caso:</strong>  </p>
                                <p>Lucas Almeida, está em estado grave na UTI do Hospital Regional após uma doença grave. Ele necessita de transfusões de sangue tipo B+ para se estabilizar. Se você é doador compatível, sua ajuda é extremamente necessária. Por favor, dirija-se ao banco de sangue do hospital para fazer a sua doação.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Prontuário 5: José -->
            <div class="prontuario-container">
                <div class="row">
                    <div class="col-md-4">
                        <!-- Espaço para a foto do paciente -->
                        <div class="photo-container">
                            <img src="https://people.com/thmb/A2Rb6Gy3NHfgpqu_y6uEqwyldO4=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():focal(586x0:588x2)/Cloe-Fields-Christian-Zelada-ca-crash-survivors-121522-2-296ae63f5f7c4f06af10bbbaa6ce0835.jpg" alt="Foto de João" style="max-width: 200px; border-radius: 20px; margin-left: 45%;">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <!-- Dados do prontuário -->
                        <div class="row align-items-center prontuario-info" style="min-height: 250px;">
                            <!-- Coluna alinhada à esquerda e ao centro -->
                            <div class="col-md-6 text-left">
                                <p><strong>Nome:</strong> Fernanda Costa</p>
                                <p><strong>Idade:</strong> 30 anos</p>
                                <p><strong>Tipo Sanguíneo:</strong> O+</p>
                            </div>
                            <!-- Coluna alinhada à direita e ao centro -->
                            <div class="col-md-6 text-right">
                                <p><strong>Descrição do caso:</strong>  </p>
                                <p>Fernanda Costa, está internada em estado grave no Hospital Universitário devido a uma doença hematológica rara. Ela precisa de transfusões de sangue tipo O+ com urgência. Estamos apelando aos doadores para que ajudem a salvar a vida dela. Sua doação pode ser a diferença entre a vida e a morte.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>

</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js"></script>
<script src="@Html.Raw("https://cdn.jsdelivr.net/npm/@fullcalendar/bootstrap5@6.1.9/index.global.min.js")"></script>
<script src="https://unpkg.com/bs-brain@2.0.4/components/calendars/calendar-1/assets/controller/calendar-1.js"></script>
