@{
    ViewData["Title"] = "Footer";
}

<!-- Adiciona uma classe para a estrutura da página -->
<div class="d-flex flex-column min-vh-100">

    <!-- Conteúdo principal da página -->
    <div class="flex-grow-1">
        <!-- Seu conteúdo aqui -->
    </div>

    <!-- Footer -->
    <footer class="bg-primary text-center text-lg-start text-white w-100 mt-auto">
        <!-- Grid container -->
        <div class="p-4" style="background-color: red;">
            <!--Grid row-->
            <div class="row my-4">
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

                    <div class="rounded-circle bg-white shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto" style="width: 150px; height: 150px;">
                        <img src="https://reliantmedicalgroup.org/wp-content/uploads/2020/04/GettyImages-1030773064.jpg?x17056" height="70" alt=""
                             loading="lazy" />
                    </div>

                    <p class="text-center">SangES</p>

                    <ul class="list-unstyled d-flex flex-row justify-content-center">
                        <li>
                            <a class="text-white px-2" href="#!">
                                <i class="fab fa-facebook-square"></i>
                            </a>
                        </li>
                        <li>
                            <a class="text-white px-2" href="#!">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a class="text-white ps-2" href="#!">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </li>
                    </ul>

                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-4">Campanhas</h5>

                    <ul class="list-unstyled">
                        <li class="mb-2">
                            <a href="https://cura.com.br/doe-sangue-salve-vidas/" class="text-white" target="_blank" rel="noopener noreferrer">
                                <i class="fas fa-paw pe-3"></i>Doe Sangue, Salve Vidas
                            </a>
                        </li>
                        <li class="mb-2">
                            <a href="https://www.paho.org/pt/campaigns/world-blood-donor-day-14-june-2020" class="text-white" target="_blank" rel="noopener noreferrer">
                                <i class="fas fa-paw pe-3"></i>Blood for All
                            </a>
                        </li>
                        <li class="mb-2">
                            <a href="https://www.redcrossblood.org/" class="text-white" target="_blank" rel="noopener noreferrer">
                                <i class="fas fa-paw pe-3"></i>Give Blood, Give Life
                            </a>
                        </li>
                        <li class="mb-2">
                            <a href="https://www.who.int/westernpacific/news/item/13-06-2012-every-blood-donor-is-a-hero" class="text-white" target="_blank" rel="noopener noreferrer">
                                <i class="fas fa-paw pe-3"></i>Every Blood Donor is a Hero
                            </a>
                        </li>
                        <li class="mb-2">
                            <a href="https://www.redcrossblood.org/hosting-a-blood-drive/donating-blood-as-a-community-service.html" class="text-white" target="_blank" rel="noopener noreferrer">
                                <i class="fas fa-paw pe-3"></i>Red Cross Blood Donation Campaigns
                            </a>
                        </li>
                    </ul>

                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-4">Artigos</h5>

                    <ul class="list-unstyled">
                        <li class="mb-2">
                            <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC10812890/" class="text-white" target="_blank" rel="noopener noreferrer">
                                <i class="fas fa-paw pe-3"></i>The Safety and Efficacy of Blood Donation
                            </a>
                        </li>
                        <li class="mb-2">
                            <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC10812890/" class="text-white" target="_blank" rel="noopener noreferrer">
                                <i class="fas fa-paw pe-3"></i>Impact of Blood Donation on the Donor’s Health
                            </a>
                        </li>
                        <li class="mb-2">
                            <a href="https://www.pressreader.com/botswana/the-monitor-4753/20240212/281685439754733" class="text-white" target="_blank" rel="noopener noreferrer">
                                <i class="fas fa-paw pe-3"></i>The Role of Blood Donation in Modern Medicine
                            </a>
                        </li>
                    </ul>

                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-4">Contact</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="@Html.Raw("https://www.google.com.br/maps/place/Vila+Velha,+ES/@-20.4277892,-40.4575959,12z/data=!3m1!4b1!4m6!3m5!1s0xb817b2995d6bf1:0xf69aa51e4ff904b1!8m2!3d-20.3477818!4d-40.2949184!16zL20vMDJ5bXFi?entry=ttu")" target="_blank" rel="noopener noreferrer" style="text-decoration: none; color: white;">
                                <p><i class="fas fa-map-marker-alt pe-2"></i>Vila Velha, ES, Brasil</p>
                            </a>
                        </li>
                        <li>
                            <p><i class="fas fa-phone pe-2"></i>+ 55 (27) 99999-9999</p>
                        </li>
                        <li>
                            <p><i class="fas fa-envelope pe-2 mb-0"></i>sanges@example.com</p>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Grid container -->
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: darkred">
            © 2024 Relume. Todos os direitos reservados.
            <!--  <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>-->
        </div>
        <!-- Copyright -->
    </footer>

</div>